<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
    
 <hibernate-configuration>
  <session-factory>
   <!-- Database Connection properties -->
   <property name="hibernate.connection.driver_class">
     com.mysql.jdbc.Driver</property>
   <property name="hibernate.connection.url">
     jdbc:mysql://localhost:3306/hibernate</property>
   <property name="hibernate.connection.username">root</property>
   <property name="hibernate.connection.password">sscomputers</property>
   
   <!-- Dialect property configuration -->
   <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
   
   <!-- Disable auto commit mode -->
   <property name="hibernate.connection.autocommit">false</property>
      
   <!-- Print all generated SQL statements in the console, format the SQL and 
      add the comments -->   
   <property name="hibernate.show_sql">true</property>
   <property name="hibernate.format_sql">true</property>
   <property name="hibernate.use_sql_comments">true</property>
     
   <mapping resource="Employee.hbm.xml"></mapping>
  </session-factory>
 
 </hibernate-configuration>
